.mr-4 {
    margin-right: 4px;
}

.ml-4 {
    margin-left: 4px;
}

.header {
    background-image: url("/public/bg-header.jpg");
    background-size: cover;
    background-color: #232323;
    color: white;
    padding: 20px 0;
    height: 300px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    margin-top: 10px;
    background: #232323;
    padding: 16px 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    gap: 24px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sort-label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #888;
}


.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #e50914;
}

.add-movie-btn {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-movie-btn:hover {
    background-color: #b0060f;
}

.header-center {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.search-input {
    background-color: #555555;
    color: #fff;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 700px;
    height: 45px;
}

.search-button {
    background-color: #f65261;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f65261;
    font-size: 20px;
    width: 230px;
    height: 55px;
}

.genre-button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
}

.selected {
    border-radius: 0px;
    border-bottom: 2px solid #f65261;
}